{% extends "layout/base.html" %}

{% block content %}

  {% if video_url %}
    <div class="container my-5">
      <div class="ratio ratio-16x9 rounded shadow-sm overflow-hidden">
        <video class="w-100 h-100" controls>
          <source src="{{ video_url }}" type="video/mp4">
          Ваш браузер не підтримує тег <code>&lt;video&gt;</code>.
        </video>
      </div>
    </div>

  {% elif photo_url %}
    <div class="container mt-5 text-center">
      <div class="alert alert-danger text-center" role="alert">
        Only video stories allowed !!!
      </div>
    </div>

  {% elif error %}
    <div class="alert alert-danger text-center" role="alert">
      {{ error }}
    </div>
  {% endif %}

{% endblock %}
